**Q1**. What are data structures, and why are they important?
 -  Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built.
 - Essential for Efficient Problem-Solving.
 -Improves Coding Skills.
 -Solving Real-World Problems

**Q2**. Explain the difference between mutable and immutable data types with examples?

-  Mutable and immutable objects are handled differently in Python. Immutable objects are quicker to access and are expensive to change because it involves the creation of a copy. Whereas mutable objects are easy to change.

- The use of mutable objects is recommended when there is a need to change the size or content of the object.

**Q3**.What are the main differences between lists and tuples in Python?

- Lists and Tuples in Python are two different in python.

- List is Mutable and Tuple is not (Cannot update an element, insert and delete elements)

- Tuples are faster because of read only nature. Memory can be efficiently allocated and used for tuples.

**Q4**. Describe how dictionaries store data.

- Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

**Q5**. Why might you use a set instead of a list in Python?

- In Python, both sets and lists are used to store collections of elements but they have key differences that make them suitable for different use cases. The main difference is that lists are ordered, meaning the order of elements is preserved and they can be accessed by their index while sets are unordered meaning they do not maintain the order of elements and automatically ensure all elements are unique. This article will explore the differences between sets and lists, including their properties, performance, and typical use cases.

**Q6**.What is a string in Python, and how is it different from a list?

Lists are mutable sequences, while strings are immutable sequences. Understanding the difference is essential to determine when to apply certain operations on specific data types. Consequently, it aids in avoiding unnecessary exceptions and saves time when coding.

**Q7**. How do tuples ensure data integrity in Python.

This immutability provides a level of data integrity and safety, making tuples suitable for situations where you want to ensure that the data remains unchanged. Data Integrity: Use tuples when you need to guarantee that the data remains constant and cannot be modified accidentally.

**Q8**.What is a hash table, and how does it relate to dictionaries in Python?

A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array. The index functions as a storage location for the matching value. In simple words, it maps the keys with the value.

**Q9**.Can lists contain different data types in Python.

A list in Python CAN contain different types of data. Each item in the list is separated by a comma and the entire list is enclosed in square brackets []. To add a new item to the list, just edit the list starting before the closing bracket. Add a comma and the new item. It doesn’t matter what the type is for the previous item.

**Q10**.Explain why strings are immutable in Python.

Strings are known as Immutable in Python (and other languages) because once the initial string is created, none of the function/methods that act on it change it directly, they simply return new strings. So, in your example After the .replace call, you should try evaluating str1 in your REPL.

**Q11**. What advantages do dictionaries offer over lists for certain tasks?

While lists maintain the order of elements, dictionaries do not. This makes it easier to use lists for tasks like iterating through data or adding/removing elements from the end. On the other hand, dictionaries allow for faster lookups (O (1) time complexity), which is useful when you need to access data based on a unique key.

**Q12**.Describe a scenario where using a tuple would be preferable over a list.

Tuples and lists serve different purposes. Lists store homogenous data. You can and should have a list like this: The reason that is a correct use of lists is because those are all homogenous types of data, specifically, people's names. But take a list like this: That list is one person's full name, and their age. That isn't one type of data.

**Q13**.How do sets handle duplicate values in Python?

In Python, a set is an unordered collection of distinct items, meaning it automatically removes any duplicate elements. This property makes sets particularly valuable when duplicates need to be managed or eliminated from a dataset.

**Q14**. How does the “in” keyword work differently for lists and dictionaries?

If you use the in or not in operators directly on a dictionary, then it’ll check whether the dictionary has a given key or not. You can also do this check using the .keys() method, which is more explicit about your intentions. You can also check if a given value or key-value pair is in a dictionary.

**Q15**. Can you modify the elements of a tuple? Explain why or why not.

In Python, tuples are immutable. This means that you cannot modify them directly by adding, changing, or removing items (elements). If you need to work with mutable data, use lists instead.

**Q16**.What is a nested dictionary, and give an example of its use case.

Nesting Dictionary means putting a dictionary inside another dictionary. Nesting is of great use as the kind of information we can model in programs is expanded greatly.

nested_dict = {'dict1': {'key_A': 'value_A'},
               'dict2': {'key_B': 'value_B'}}

**Q17**.Describe the time complexity of accessing elements in a dictionary.

 Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.

 **Q18**.In what situations are lists preferred over dictionaries.

 A Python list is a collection object used to store data in a sequential manner. In a list, each element has a particular position and we can access the data randomly using their position. On the other hand, a Python dictionary contains key-value pairs that don’t have a particular position.  

**Q19**.Why are dictionaries considered unordered, and how does that affect data retrieval.

Dictionary termed as an unordered collection of objects because in dictionary we can use any type of datatypes, but in key datatype must be immutable type.
• In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that. If we want to collect a set of objects in order, we have only one choice of accessing them: through index. Hope it helped...

**Q20**. Explain the difference between a list and a dictionary in terms of data retrieval.

LIST:
- A list is an ordered collection of elements where each element is identified by its position or index. Lists are represented by square brackets [ ].

- The elements in a list can be accessed using their indices. The index starts from 0 for the first element, and negative indices can be used to access elements from the end.

- Lists are mutable, meaning you can modify their elements even after creating them. You can change, add, or remove elements in a list.

DICTIONARY:

 - A dictionary is an unordered collection of key-value pairs. Each element is identified by a unique key, and the values can be accessed using these keys. Dictionaries are represented by curly braces { }.

- The elements in a dictionary are accessed using their unique keys. Keys can be of any immutable type (e.g., strings, numbers, tuples). Dictionary values are not accessed using indices since the order of elements is not guaranteed.

- Dictionaries are mutable as well. You can modify the values associated with existing keys, add new key-value pairs, or remove key-value pairs from a dictionary.

## PRACTICAL QUESTIONS

**Q1**. Write a code to create a string with your name and print it.

In [ ]:
name="samarpreet kaur"
print(name)

samarpreet kaur

**Q2**. Write a code to find the length of the string "Hello World".

In [ ]:
s="Hello World"
len(s)

11

**Q3**. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string="hello world"
print(string[0:3])

hel

**Q4**. Write a code to convert the string "hello" to uppercase.

In [ ]:
print(string.upper())

HELLO WORLD

**Q5**. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str1="i like apple"
str1.replace("apple","orange")

'i like orange'

**Q6**.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

**Q7**.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:

a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

**Q8**.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

**Q9**. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
a=['a','b','c','d']
print(a[2])

c

**Q10**. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

**Q11**.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
t=(10,20,30)
print(t)

(10, 20, 30)

**Q12**. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
t=('apple','banana','cherry')
print(t[1])

banana

**Q13**. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple1=(1,2,3,2,4,2)
tuple1.count(2)

3

**Q14**. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple1=('dog','cat','rabbit')
tuple1.index('cat')

1

**Q15**.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple1=('apple','orange','banana')
'banana'in tuple1

True

**Q16**. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

**Q17**. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}